HELP.md
/target/
/target/classes/*.yml
!.mvn/wrapper/maven-wrapper.jar
consumer/target/**
producer/target/**
/bin/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

*.class

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

### VS Code ###
.vscode/
/.metadata/
